<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg"
    data-sidebar-image="none" data-preloader="disable">

<head>

    <meta charset="utf-8" />
    <title>SIFIKI-TADI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="SIFIKATADI" name="description" />
    <meta content="SIFIKATADI" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="../static/images/favicon.ico">

    <!--Swiper slider css-->
    <link href="../static/libs/swiper/swiper-bundle.min.css" rel="stylesheet" type="text/css" />

    <!-- Layout config Js -->
    <script src="../static/js/layout.js"></script>

    <!-- Bootstrap Css -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="../static/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="../static/css/app.css" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="../static/css/custom.css" rel="stylesheet" type="text/css" />

    <style>
        .card-body {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: auto;
            /* Anda bisa mengganti nilai ini sesuai kebutuhan */
        }
    </style>


</head>

<body data-bs-spy="scroll" data-bs-target="#navbar-example">

    <!-- Begin page -->
    <div class="layout-wrapper landing">
        <nav class="navbar navbar-expand-lg navbar-landing fixed-top" id="navbar">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="../static/imagesnew/logo/sifikitadi.png" class="card-logo card-logo-dark" alt="logo dark"
                        height="25">
                    <img src="../static/imagesnew/logo/sifikitadi.png" class="card-logo card-logo-light"
                        alt="logo light" height="25">
                </a>
                <button class="navbar-toggler py-0 fs-20 text-body" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <i class="mdi mdi-menu"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto mt-2 mt-lg-0" id="navbar-example">
                        <li class="nav-item">
                            <a class="nav-link fs-14 active" href="/#hero">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-14" href="#about">About</a>
                        </li>
                    </ul>
                    <div class="">
                        <a href="#klasifikasi" class="btn btn-link fw-medium text-decoration-none text"
                            style="background-color: #186F65;color: white;">Klasifikasi</a>
                    </div>
                </div>

            </div>
        </nav>
        <!-- end navbar -->

        <!-- start hero section -->
        <section class="section pb-0 hero-section" id="hero">
            <div class="bg-overlay bg-overlay-pattern"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-sm-10">
                        <div class="text-center mt-lg-5 pt-5">
                            <h1 class="display-6 fw-semibold mb-3 lh-base" style="color: black;">Selamat datang di
                                website kami!
                                <span class="text-success">SIFIKI-TADI</span>
                            </h1>
                            <p class="lead text-dark lh-base">untuk mendeteksi dan mendiagnosis penyakit pada daun
                                tanaman padi. Studi kasus kami berfokus pada Kabupaten Tuban, yang terkenal dengan
                                produksi padi yang tinggi di Jawa Timur.</p>

                            <div class="d-flex gap-2 justify-content-center mt-4">
                                <a href="pages-pricing.html" class="btn btn-danger">Blog Penyakit Tanaman Padi <i
                                        class="ri-eye-line align-middle ms-1"></i></a>
                            </div>
                        </div>

                        <div class="mt-4 mt-sm-5 pt-sm-5 mb-sm-n5 demo-carousel">
                            <div class="carousel slide carousel-fade" data-bs-ride="carousel">
                                <div class="carousel-inner shadow-lg p-2 bg-white rounded">
                                    <div class="carousel-item active" data-bs-interval="2000">
                                        <img src="../static/imagesnew/carousel/DJI_0176.JPG" class="d-block w-100"
                                            alt="...">
                                    </div>
                                    <div class="carousel-item" data-bs-interval="2000">
                                        <img src="../static/imagesnew/carousel/DJI_0183.JPG" class="d-block w-100"
                                            alt="...">
                                    </div>
                                    <div class="carousel-item" data-bs-interval="2000">
                                        <img src="../static/imagesnew/carousel/DJI_0369.JPG" class="d-block w-100"
                                            alt="...">
                                    </div>
                                    <div class="carousel-item" data-bs-interval="2000">
                                        <img src="../static/imagesnew/carousel/DJI_0370.JPG" class="d-block w-100"
                                            alt="...">
                                    </div>
                                    <div class="carousel-item" data-bs-interval="2000">
                                        <img src="../static/imagesnew/carousel/DJI_0373.JPG" class="d-block w-100"
                                            alt="...">
                                    </div>
                                    <div class="carousel-item" data-bs-interval="2000">
                                        <img src="../static/imagesnew/carousel/DSC05763.jpg" class="d-block w-100"
                                            alt="...">
                                    </div>
                                    <div class="carousel-item" data-bs-interval="2000">
                                        <img src="../static/imagesnew/carousel/SAVE_20230705_170135.jpg"
                                            class="d-block w-100" alt="...">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
            <div class="position-absolute start-0 end-0 bottom-0 hero-shape-svg">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                    viewBox="0 0 1440 120">
                    <g mask="url(&quot;#SvgjsMask1003&quot;)" fill="none">
                        <path d="M 0,118 C 288,98.6 1152,40.4 1440,21L1440 140L0 140z">
                        </path>
                    </g>
                </svg>
            </div>
            <!-- end shape -->
        </section>
        <!-- end hero section -->

        <!-- start services -->
        <section class="section" id="services">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="text-center mb-5">
                            <h1 class="mb-3 ff-secondary fw-semibold lh-base" style="color: black;">Solusi Web Modern
                                untuk Deteksi Penyakit Tanaman Padi</h1>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->

                <div class="row g-3">
                    <div class="col-lg-4">
                        <div class="d-flex p-3">
                            <div class="flex-shrink-0 me-3">
                                <div class="avatar-sm icon-effect">
                                    <div class="avatar-title bg-transparent text-success rounded-circle">
                                        <i class="ri-search-2-line fs-36"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-grow-1">
                                <h5 class="fs-18">Deteksi Otomatis Penyakit Daun Padi</h5>
                                <p class="text my-3 ff-secondary" style="text-align: justify;color: black;">Aplikasi
                                    kami
                                    dilengkapi dengan algoritma yang
                                    mampu mendeteksi penyakit pada daun padi secara otomatis. Dengan mengambil gambar
                                    daun melalui perangkat seluler atau kamera, aplikasi kami akan
                                    menganalisis gambar tersebut dan memberikan hasil diagnosis penyakit yang mungkin
                                    terjadi</p>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->
                    <div class="col-lg-4">
                        <div class="d-flex p-3">
                            <div class="flex-shrink-0 me-3">
                                <div class="avatar-sm icon-effect">
                                    <div class="avatar-title bg-transparent text-success rounded-circle">
                                        <i class="ri-leaf-line fs-36"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-grow-1">
                                <h5 class="fs-18">Diagnosa Penyakit yang Akurat</h5>
                                <p class="text my-3 ff-secondary" style="text-align: justify;color: black;">Berkat
                                    penggunaan
                                    metode CNN, aplikasi kami
                                    dapat memberikan diagnosis penyakit dengan
                                    tingkat akurasi yang tinggi. Hal
                                    ini memungkinkan petani dan ahli pertanian di Kabupaten Tuban untuk mengambil
                                    tindakan yang
                                    tepat dan segera guna
                                    mencegah penyebaran penyakit dan kerugian yang lebih besar.</p>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->
                    <div class="col-lg-4">
                        <div class="d-flex p-3">
                            <div class="flex-shrink-0 me-3">
                                <div class="avatar-sm icon-effect">
                                    <div class="avatar-title bg-transparent text-success rounded-circle">
                                        <i class="ri-database-line fs-36"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-grow-1">
                                <h5 class="fs-18">Database Penyakit dan Solusi</h5>
                                <p class="text my-3 ff-secondary" style="text-align: justify;color: black;">Kami
                                    menyediakan
                                    database penyakit yang lengkap
                                    beserta solusi dan rekomendasi pengobatan yang tepat. Pengguna dapat
                                    mengakses informasi ini melalui aplikasi kami, sehingga mereka memiliki sumber daya
                                    yang berguna untuk mengatasi
                                    penyakit pada tanaman padi.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </section>
        <!-- end services -->

        <!-- start Work Process -->
        <section class="process" style="padding-top: 30px;background-color: #186F65;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="text-center mb-5">
                            <h3 class="mb-3 fw-semibold" style="color: white;">Alur Kerja Aplikasi</h3>
                        </div>
                    </div>
                </div>
                <!-- end row -->

                <div class="row text-center">
                    <div class="col-lg-3">
                        <div class="process-card mt-4">
                            <div class="process-arrow-img d-none d-lg-block">
                                <img src="../static/images/landing/process-arrow-img.png" alt="" class="img-fluid">
                            </div>
                            <div class="avatar-sm icon-effect mx-auto mb-4">
                                <div class="avatar-title bg-transparent text-success rounded-circle h1">
                                    <i class="ri-file-upload-line"></i>
                                </div>
                            </div>

                            <h5 style="color: white;">Masukkan Gambar</h5>
                            <p class="text ff-secondary" style="color: white;">Pengguna membuka aplikasi dan memasukkan
                                gambar tanaman
                                padi yang ingin dianalisis.</p>
                        </div>
                    </div>
                    <!-- end col -->
                    <div class="col-lg-3">
                        <div class="process-card mt-4">
                            <div class="process-arrow-img d-none d-lg-block">
                                <img src="../static/images/landing/process-arrow-img.png" alt="" class="img-fluid">
                            </div>
                            <div class="avatar-sm icon-effect mx-auto mb-4">
                                <div class="avatar-title bg-transparent text-success rounded-circle h1">
                                    <i class="ri-share-forward-box-line"></i>
                                </div>
                            </div>

                            <h5 style="color: white;">Klik Tombol Prediksi</h5>
                            <p class="text ff-secondary" style="color: white;">Setelah gambar dimasukkan, pengguna
                                mengklik tombol
                                "Prediksi" atau "Analisis"</p>
                        </div>
                    </div>
                    <!-- end col -->
                    <div class="col-lg-3">
                        <div class="process-card mt-4">
                            <div class="process-arrow-img d-none d-lg-block">
                                <img src="../static/images/landing/process-arrow-img.png" alt="" class="img-fluid">
                            </div>
                            <div class="avatar-sm icon-effect mx-auto mb-4">
                                <div class="avatar-title bg-transparent text-success rounded-circle h1">
                                    <i class="ri-search-2-line"></i>
                                </div>
                            </div>

                            <h5 style="color: white;">Proses Analisis</h5>
                            <p class="text ff-secondary" style="color: white;">Aplikasi akan memproses gambar tersebut
                                dengan menggunakan teknologi
                                pengenalan gambar dan data yang telah ada dalam
                                sistem untuk mengidentifikasi penyakit yang mungkin ada pada tanaman padi.</p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="process-card mt-4">
                            <div class="avatar-sm icon-effect mx-auto mb-4">
                                <div class="avatar-title bg-transparent text-success rounded-circle h1">
                                    <i class="ri-book-mark-line"></i>
                                </div>
                            </div>

                            <h5 style="color: white;">Hasil Prediksi</h5>
                            <p class="text ff-secondary" style="color: white;">Setelah selesai menganalisis gambar,
                                aplikasi akan
                                menghasilkan hasil prediksi. Hasil ini akan menunjukkan apakah
                                tanaman padi terinfeksi penyakit tertentu atau tidak.</p>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </section>

        <!-- end Work Process -->
        <section class="section" id="klasifikasi">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xxl-6">
                        <div class="card" style="text-align: center; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
                            <div class="card-header align-items-center d-flex">
                                <h4 class="card-title mb-0 flex-grow-1" style="text-align: center;">Klasifikasi Jenis
                                    Penyakit
                                    Padi</h4>
                            </div>

                            <div class="card-body" style="text-align: center; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
                                <h2>Masukkan Gambar Penyakit Tanaman</h2>
                                <form action="/predict" method="post" enctype="multipart/form-data"
                                    onsubmit="showloading()">
                                    <!-- Ganti input file dengan elemen div yang dapat di-drag -->
                                    <div id="drag-drop-area" class="custom-file-upload"
                                        style="background-color: #f1f1f1; padding: 20px; border-radius: 10px;">
                                        <i class="fas fa-cloud-upload-alt fa-3x"></i> <!-- Icon drag and drop -->
                                        <p>klik untuk memilih gambar.</p>
                                    </div>
                                    <!-- Input file asli tetap ada, tetapi diubah menjadi hidden -->
                                    <input type="file" id="image-upload" name="image" class="upload"
                                        style="display: none;" accept="image/*">
                                    <br>
                                    <img id="uploaded-image" src="#" alt="Gambar akan ditampilkan di sini"
                                        style="display: none; max-width: 100%; max-height: 200px;">
                                    <br />
                                    <input type="submit" value="Prediksi" class="btn"
                                        style="background-color: #186F65;color: white;">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- start faqs -->
        <section class="section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="text-center mb-5">
                            <h3 class="mb-3 fw-semibold">Pertanyaan yang Sering Diajukan</h3>
                            <p class="text mb-4 ff-secondary" style="color: black;">Jika Anda tidak dapat
                                menemukan jawaban atas
                                pertanyaan Anda di FAQ kami, Anda selalu dapat menghubungi kami atau
                                mengirim pesan Whatsapp kepada kami. Kami akan menjawab Anda segera!</p>

                            <div class="">
                                <button type="button" class="btn btn-primary btn-label rounded-pill"><i
                                        class="ri-whatsapp-line label-icon align-middle rounded-pill fs-16 me-2"></i>
                                    Whatsapp</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->

                <div class="row g-lg-5 g-4">
                    <div class="col-lg-6">
                        <div class="d-flex align-items-center mb-2">
                            <div class="flex-shrink-0 me-1">
                                <i class="ri-question-line fs-24 align-middle text-success me-1"></i>
                            </div>
                            <div class="flex-grow-1">
                                <h5 class="mb-0 fw-semibold">Pertanyaan Umum</h5>
                            </div>
                        </div>
                        <div class="accordion custom-accordionwithicon custom-accordion-border accordion-border-box"
                            id="genques-accordion">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="genques-headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#genques-collapseOne" aria-expanded="true"
                                        aria-controls="genques-collapseOne">
                                        Apa itu Aplikasi Deteksi Penyakit Tanaman Padi?
                                    </button>
                                </h2>
                                <div id="genques-collapseOne" class="accordion-collapse collapse show"
                                    aria-labelledby="genques-headingOne" data-bs-parent="#genques-accordion">
                                    <div class="accordion-body ff-secondary" style="color: black;">
                                        Aplikasi Deteksi Penyakit Tanaman Padi adalah sebuah website yang menggunakan
                                        teknologi pengenalan gambar untuk
                                        mengidentifikasi penyakit yang mungkin terdapat pada tanaman padi.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="genques-headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#genques-collapseTwo" aria-expanded="false"
                                        aria-controls="genques-collapseTwo">
                                        Bagaimana Cara Menggunakan Aplikasi Ini?
                                    </button>
                                </h2>
                                <div id="genques-collapseTwo" class="accordion-collapse collapse"
                                    aria-labelledby="genques-headingTwo" data-bs-parent="#genques-accordion">
                                    <div class="accordion-body ff-secondary" style="color: black;">
                                        Anda hanya perlu memasukkan gambar tanaman padi yang ingin dianalisis ke dalam
                                        aplikasi, kemudian klik tombol
                                        "Prediksi." Aplikasi akan melakukan analisis dan memberikan hasilnya.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end accordion-->

                    </div>
                    <!-- end col -->
                    <div class="col-lg-6">
                        <div class="d-flex align-items-center mb-2">
                            <div class="flex-shrink-0 me-1">
                                <i class="ri-question-line fs-24 align-middle text-success me-1"></i>
                            </div>
                            <div class="flex-grow-1">
                                <h5 class="mb-0 fw-semibold">Pertanyaan Umum</h5>
                            </div>
                        </div>

                        <div class="accordion custom-accordionwithicon custom-accordion-border accordion-border-box"
                            id="privacy-accordion">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="privacy-headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#privacy-collapseOne" aria-expanded="false"
                                        aria-controls="privacy-collapseOne">
                                        Bagaimana Aplikasi Ini Bekerja dalam Mendeteksi Penyakit Tanaman Padi?
                                    </button>
                                </h2>
                                <div id="privacy-collapseOne" class="accordion-collapse collapse"
                                    aria-labelledby="privacy-headingOne" data-bs-parent="#privacy-accordion">
                                    <div class="accordion-body ff-secondary" style="color: black;">
                                        Aplikasi menggunakan algoritma pengenalan gambar yang telah dilatih dengan data
                                        penyakit tanaman padi. Ketika Anda
                                        memasukkan gambar, algoritma ini membandingkan gambar dengan database penyakit
                                        dan memberikan prediksi berdasarkan
                                        kesamaan visual.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="privacy-headingTwo">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#privacy-collapseTwo" aria-expanded="true"
                                        aria-controls="privacy-collapseTwo">
                                        Seberapa Akurat Aplikasi Ini dalam Mendeteksi Penyakit Tanaman Padi?
                                    </button>
                                </h2>
                                <div id="privacy-collapseTwo" class="accordion-collapse collapse show"
                                    aria-labelledby="privacy-headingTwo" data-bs-parent="#privacy-accordion">
                                    <div class="accordion-body ff-secondary" style="color: black;">
                                        Tingkat akurasi aplikasi dapat bervariasi tergantung pada sejumlah faktor,
                                        termasuk kualitas gambar yang dimasukkan dan
                                        jumlah data pelatihan yang digunakan. Kami terus meningkatkan akurasi aplikasi
                                        ini.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end accordion-->
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </section>
        <!-- end faqs -->

        <!-- Start footer -->
        <footer class="custom-footer py-5 position-relative" style="background-color: #186F65;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mt-4">
                        <div>
                            <div>
                                <img src="../static/imagesnew/logo/sifikitadi-footer.png" alt="logo light" height="40">
                            </div>
                            <div class="mt-4 fs-13">
                                <p class="ff-secondary" style="color: white;">untuk mendeteksi dan mendiagnosis penyakit pada daun
                                tanaman padi. Studi kasus kami berfokus pada Kabupaten Tuban, yang terkenal dengan
                                produksi padi yang tinggi di Jawa Timur.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 ms-lg-auto">
                        <div class="row">
                            <div class="col-sm-4 mt-4">
                                <h5 class="text-white mb-0">Support</h5>
                                <div class="text-muted mt-3">
                                    <ul class="list-unstyled ff-secondary footer-list fs-14">
                                        <li><a href="pages-faqs.html" style="color: white;">FAQ</a></li>
                                        <li><a href="pages-faqs.html" style="color: white;">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row text-center text-sm-start align-items-center mt-5">
                    <div class="col-sm-6">

                        <div>
                            <p class="copy-rights mb-0" style="color: white;">
                                <script> document.write(new Date().getFullYear()) </script> © maulanafiqri
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end mt-3 mt-sm-0">
                            <ul class="list-inline mb-0 footer-social-link">
                                <li class="list-inline-item">
                                    <a href="https://api.whatsapp.com/send/?phone=%2B6282143078424&text=Halo%2C%20saya%20mau%20tanya...%20Nama:.....%20Hal%20yang%20mau%20ditanyakan%20......... &type=phone_number&app_absent=0"
                                        class="avatar-xs d-block">
                                        <div class="avatar-title rounded-circle" style="background-color: white;">
                                            <i class="ri-whatsapp-line"></i>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="javascript: void(0);" class="avatar-xs d-block">
                                        <div class="avatar-title rounded-circle" style="background-color: white;">
                                            <i class="ri-github-fill"></i>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="javascript: void(0);" class="avatar-xs d-block">
                                        <div class="avatar-title rounded-circle" style="background-color: white;">
                                            <i class="ri-linkedin-fill"></i>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="javascript: void(0);" class="avatar-xs d-block">
                                        <div class="avatar-title rounded-circle" style="background-color: white;">
                                            <i class="ri-instagram-line"></i>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end footer -->

        <!--start back-to-top-->
        <button onclick="topFunction()" class="btn btn-danger btn-icon landing-back-top" id="back-to-top"
            style="background-color: #79AC78;">
            <i class="ri-arrow-up-line"></i>
        </button>
        <!--end back-to-top-->

    </div>
    <!-- end layout wrapper -->
    <script>
        // Menambahkan event listener untuk drag and drop
        const dragDropArea = document.getElementById("drag-drop-area");
        const imageUpload = document.getElementById("image-upload");
        const uploadedImage = document.getElementById("uploaded-image");

        dragDropArea.addEventListener("dragover", (e) => {
            e.preventDefault();
            dragDropArea.style.backgroundColor = "#ddd";
        });

        dragDropArea.addEventListener("dragleave", () => {
            dragDropArea.style.backgroundColor = "#f1f1f1";
        });

        dragDropArea.addEventListener("drop", (e) => {
            e.preventDefault();
            dragDropArea.style.backgroundColor = "#f1f1f1";
            const file = e.dataTransfer.files[0];
            displayImage(file);
        });

        dragDropArea.addEventListener("click", () => {
            imageUpload.click();
        });

        imageUpload.addEventListener("change", () => {
            const file = imageUpload.files[0];
            displayImage(file);
        });

        function displayImage(file) {
            if (file) {
                const reader = new FileReader();
                reader.onload = (e) => {
                    uploadedImage.src = e.target.result;
                    uploadedImage.style.display = "block";
                };
                reader.readAsDataURL(file);
            }
        }

        // Script tambahan
        document.getElementById("image-upload").addEventListener("change", function () {
            var input = this;
            var img = document.getElementById("uploaded-image");

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    img.src = e.target.result;
                    img.style.display = "block"; // Menampilkan gambar yang diunggah
                };

                reader.readAsDataURL(input.files[0]);
            }
        });
    </script>


    <!-- JAVASCRIPT -->
    <script src="../static/libs/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="../static/libs/simplebar/simplebar.min.js"></script>
    <script src="../static/libs/node-waves/waves.min.js"></script>
    <script src="../static/libs/feather-icons/feather.min.js"></script>
    <script src="../static/js/pages/plugins/lord-icon-2.1.0.js"></script>
    <script src="../static/js/plugins.js"></script>

    <!--Swiper slider js-->
    <script src="../static/libs/swiper/swiper-bundle.min.js"></script>

    <!-- landing init -->
    <script src="../static/js/pages/landing.init.js"></script>
</body>

</html>